Source: cila-libro
Section: doc
Priority: optional
Maintainer: Miguel Ángel Vilela García (miguev) <miguev@gulic.org>
Build-Depends: debhelper (>> 3.0.0), make, tetex-extra, tetex-eurosym, dvips, gs-common
Standards-Version: 3.5.2

Package: cila-libro
Architecture: all
Depends: ${shlibs:Depends}, cila-ejemplos
Recommends: cila-base
Suggests: cila-extra, cila-libro-src
Description: Libro del Curso de Introducción a Linux para Alumnos
 Libro del Curso de Introducción a Linux para Alumnos
 .
 Este libro constituye  los apuntes de un curso de  Linux diseñado para
 alumnos (estudiantes) de universidad y secundaria.
